ckpts/
data_creators/DrQA/data/datasets/*
datasets/generated_training_pairs/*
datasets/texeval/
exploratory/figures/
intermediate_results/
logs/
results/
vocab/
*.csv
*.log
*metrics*.json
*.p
*.swp
*.tar
*.txt
*.zip
*MACOSX*
__pycache__
*.DS_Store
*figures/
